<!DOCTYPE html>
<html>
<head>
  <title>QuestionsAndAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= link_to "home", root_path, id: "home" %> | 
    <%= link_to "new", new_question_path, id: "new" %>

    <% if flash[:notice] || flash[:error] %>
      <h3><%= flash[:notice] || flash[:error] %></h3>
    <% end %>


    <%= yield %>

  </div>

</body>
</html>
